* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #7977ff !important;
}

.mainpage {
  display: flex;
}

.col-md-3 {
  width: 20%;
}

.col-md-4 {
  width: 80%;
}

.mainpage img {
  max-width: 100%;
}

.icon-bg {

  position: absolute;
  bottom: 100px;
  right: 30px;
  cursor: pointer;

}

.icon-bg img {
  width: 100px;
  background: #fff;
  border-radius: 100px;
  padding: 20px;
}

h2 {
  text-align: left;
  color: #fff;
  font-size: 36px;
}
h3 {
  text-align: center;
  color: #fff;
  font-size: 36px;
}


.col-md-6 {
  width: 50%;
}

.display-flex {
  display: flex;
  align-items: center;
}

i {
  color: #fff;

  padding: 13px;
  font-size: 30px;
  border-radius: 10px;
}

.justify-content {
  justify-content: center;
}

.pt-5 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 80px;
}

.form-box{
  border: 2px solid #fff;
  padding: 50px;
  border-radius: 23px;
}
.form-box input, .form-box textarea{
  padding: 20px !important;
  border-radius: 10px !important;
}

.form-box button{
width: 100%;
background: #000 !important;
padding: 0;
}